<%- include('header')?title:login system-%>
<div class="text-center" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h1 class="font-weight-bold">login system</h1>
            <span>login for the existing</span>
        </div>
    </div>
</div>

<%- include('footer') -%>